/* @import url("../estilos/reset.css"); */ /* Using a url */
/* @import url("../estilos/normalize.css"); */ /* Using a url */

*,
*::before,
*::after,
*:before,
*:after {
    box-sizing: border-box;
}


/******************** Contenedor ****************************/
body {
    font-family:Arial, Helvetica, sans-serif;
    /* color:#9e9999; */
    background-color: #d4d3d3;
}

.container {
    width: 90%;
    max-width: 1000;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh; /* Controla el tamaño del dispositivo a mostrar - viewport height*/
}

/************************ header ***************************/
header {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

h1 {
    width: 100%;
    height: 100px;
    background: #fff url("../images/banner-comunidad-de-madrid.jpg") no-repeat center;
}

h1 span {
    display: none;
}

/******************* Menu, main, aside ***************************/

nav {
    float: left;
    width: 20%;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}

nav a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
}

nav a:hover {
    /*  color: rgb(136, 120, 129); */
    background-color: #555;
    color: white;
    /* background-color: transparent; */
    font-weight: bold;
}

main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

aside {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 5px;
    margin-top: 7px;
    text-align: center;
}

/* página web receptiva debería verse bien en pantallas de escritorio grandes y teléfonos móviles pequeños. */
.web_receptiva {
    overflow: auto;
}

@media only screen and (max-width:620px) {
    /* Para teléfonos móviles */
    nav,
    main,
    aside {
        width: 100%;
    }
}

/********************************* Footer ****************************/
footer {
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

/********************************* Tablas ******************************/
table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

table tr:nth-child(even) {
    /* pares */
    background-color: #f7f4f402;
}

table tr:nth-child(odd) {
    /* impares */
   background-color:#fff;
}

table th {
    background-color: #000000;
    color: white;
}

tfoot tr td {
    background-color: #51666d;
    /* font-weight: bold; */
    color: white;
}

caption {
    padding: 1rem;
    background-color: #999999;
    /* font-weight: bold; */
    color: white;
}

/*********************** imagenes ***************************/
figure {
    display: inline-block;
}