/* @import url("../estilos/reset.css"); /* Using a url */
@import url("../estilos/normalize.css"); /* Using a url */

html {
    /* Referencia de medida es el rem */
    font-size: 1.5rem;
}

body {
    font-family: 'Libre Baskerville', serif, 'Roboto', sans-serif;
}

ul {
    list-style-type: square;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 100px;
}

footer p {
    color: red;
}

main > p {
    color: blueviolet;
}

[name="p1"] {
    margin: 50px;
}

p.intro:first-line {
    font-weight: bold;
    font-size: 200%;
}

p.intro:first-letter {
    font-size: 300%;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    background-color: aqua;
    font-size: 120%;
    font-weight: bold;
}

/* selected link */
a:active {
    color: blue;
}

/* aplicar antes o después del elemento */
footer::before {
    content: url(../imagenes/sanmiguel.jpg); 
    width: 50px;
    height: 60px;
}

/* Cambios hechos a las 06/03/2018 13:11 */