/* @import url("../estilos/reset.css"); */ /* Using a url */
/* @import url("../estilos/normalize.css"); */ /* Using a url */


*, *::before, *::after, *:before, *:after {
    box-sizing : border-box;
}

/************************** bloques o Container **********************/
.container {
    width: 90%;
    max-width: 1000;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    /* width: 300px;
    height: 300px; */
    border: 1px solid black;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.bloque {
    height: 20em;
    width: 33%;
    padding: 1rem;
    background-color: lightgrey;
    display: inline-block;
    vertical-align: top;

    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.figure {
    width: 24%;
    margin-left: 0;
    margin-right: 0;
}

img {
    float: left;
    height: 15em;
    width: 100%;
}

/************************** menu de navegación***********************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}

/************************** Marcación de una cita ******************************/
q {
    display: inline;
}
 
q:before {
    content: open-quote;
}
 
q:after {
    content: close-quote;
}

/* Título de la página */
h1 {
    font-family: Tangerine;
    font-size: 1.3rem;
    text-align: center;
}

/*************** Asignación de valores a otras etiquetas ********************/
html {
    /* Referencia de medida es el rem */
    font-size: 1rem;
}

body {
    font-family: sans-serif, 'Libre Baskerville', serif, 'Roboto';
}

ul {
    list-style-type: square;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 100px;
    margin-right: 100px;
}

main > p {
    color: blueviolet;
}

[name="p1"] {
    margin: 50px;
}

/***************************** título principal *****************************/
p.intro:first-line {
    font-weight: bold;
    font-size: 200%;
}

p.intro:first-letter {
    font-size: 300%;
}

/***************************** border en los párrafos ***********************/
p.sombra {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    border: 1px solid black;
    padding: 1rem 1.5rem;
    box-shadow: .5rem .5rem .5rem .5rem dimgrey;
    border-radius: 20px;
    /* background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    background: linear-gradient(to right,#ca9d4a, #dcf029);
}

/******************************* Estilos de enlace **************************/
/* unvisited link */
a:link {
    color: #b8aeae;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #556155;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(204, 199, 202);
    background-color: aqua;
    font-size: 120%;
    font-weight: bold;
}

/* selected link */
a:active {
    color: rgb(162, 162, 199);
}
/************************************** fin **********************************/


/* Estilos al pie de la página. Aplicar antes o después del elemento */
footer {
    /* background: #aaa; */
    background-color: #333333;
    color: white;
    padding: 5px;
    flex: 1 100%;
    flex-flow: row wrap;
    text-align: center;
}

footer::before {
    content: url(); 
    width: 50px;
    height: 60px;
}

/********************************* Tablas ******************************/
table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

table tr:nth-child(even) {
    /* pares */
    background-color: #a8a4a4;
}

table tr:nth-child(odd) {
    /* impares */
   background-color:#fff;
}

table th {
    background-color: #000000;
    color: white;
}

tfoot tr td {
    background-color: #51666d;
    font-weight: bold;
    color: white;
}

caption {
    padding: 1rem;
    background-color: #999999;
    font-weight: bold;
  
}







