
*,
*::before,
*::after,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1000;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh; /* Controla el tamaño del dispositivo a mostrar - viewport height*/
}


main {
    min-height: 60vh;
}