
*,
*::before,
*::after,
*:before,
*:after {
    box-sizing: border-box;
}
/******************** Contenedor ****************************/
body {
    font-family:Arial, Helvetica, sans-serif;
    /* color:#9e9999; */
    background-color: #d4d3d3;
}

.container {
    width: 90%;
    max-width: 1000;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh; /* Controla el tamaño del dispositivo a mostrar - viewport height*/
}

main {
    min-height: 60vh;
}

/********************************* Footer ****************************/
footer {
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
}

/********************************* estilos cronómetro ***********************/
*{
	margin: 0;
	padding: 0;
}
#contenedor{
	margin: 10px auto;
	width: 540px;
	height: 115px;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: #363431;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 128px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);
}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}